* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --default-border: 0.1rem solid rgba(0, 0, 0, 0.15);
    --default-border-radius: 1.2rem;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.content {
    display: grid;
    grid-template-areas: 
        ". . . . ."
        ". hero . form ."
        ". hero . form ."
        ". . . . ."
    ;
    gap: 8.5rem;
}

main {
    grid-area: form;
}

aside {
    grid-area: hero;
}

aside h1 {
    font-size: 6.4rem;
    font-weight: 500;
    line-height: 7.5rem;
}

aside h1 span, main h2 span {
    color: #FF5678;
}

main {
    width: 60rem;
    height: 52rem;
    border: var(--default-border);
    padding: 4.4rem 5.7rem;
    border-radius: var(--default-border-radius);
    position: relative;
}

main h2 {
    max-width: 43rem;
    font-size: 3.6rem;
    font-weight: 500;
}

main .actions {
    display: flex;
    flex-flow: column wrap;
}

main .actions a {
    border-radius: var(--default-border-radius);
    text-decoration: none;
    font-size: 2.4rem;
    height: 5.5rem;
    background-color: #35E6E9;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.4rem;
}

main .actions a + a {
    background-color: #FF5678;
    margin-top: 4.8rem;
}

main header {
    display: flex;
    gap: 0 1.8rem;
    align-items: center;
}

main header i {
    font-size: 2.4rem;
    color: #FF5678;
}

main footer p {
    font-size: 1.6rem;
    margin-top: 8rem;
}

main footer a {
    margin-top: 1rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    color: #000;
}

main form {
    margin-top: 1.6rem;
}

main form label {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 1rem;
    display: block;
}

main form :is(input, select) {
    width: 489px;
    height: 5.5rem;
    display: block;

    background: #FFFFFF;
    border: var(--default-border);
    border-radius: var(--default-border-radius);
}

main form select {
    appearance: none;
}

main form .select-div {
    position: relative;
}

main form .select-div::after {
    top: 1.6rem;
    right: 1.6rem;
    font-size: 2.2rem;
    content: '\f107';
    font-family: 'Font Awesome 6 Free';
    font-weight: 600;
    position: absolute;
    z-index: 1;
    color: #35E6E9;
}

main form .points {
    /* margin-top: 16rem; */

    position: relative;
}

main form input + button {
    position: absolute;
    right: -3.8rem;
    top: calc(2.7rem + 2.3rem);
    background-color: transparent;
    border: none;
    color: #35E6E9;
    font-size: 2.4rem;
    cursor: pointer;
}

