.page-content {
    width: 100%;
    height: 100vh;

    /* display: flex;
    justify-content: center;
    align-items: center; */

    /* display: grid; */
    gap: 10rem 0;
    grid-template-areas:
        ". . . . . . ."
        ". title title . login login ."
        ". title title . login login ."
        ". . . . login login ."
        ". . . . . . ."
        "footer footer footer footer footer footer footer"
        ;
}